.del {
  background: #ff0000;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  float: right;
  width: 30px;
  height: 30px;
}

.del:hover{
  background: #ea7171;
}

.todo {
  background: #f4f4f4;
  padding: 10px;
  border-bottom: 1px #ccc dotted;
}

.todo-col {
  margin-left: 0.5em;
}

.is-complete {
  font-style: italic;
  font-weight: 500;
  /* text-decoration: line-through; */
}

.tbl-container{
  display: flex;
}

.tbl-container div {
  -ms-flex: 1; 
  flex: 1;
}
